<div class="footer ">
 <div class="footer-links">
    <h5>© HappyPaw, all rights reserved</h5>
  </div>
   <div class="col d-flex justify-content-center">
        <div class="row ms-auto">
          <h6><i class="fas fa-map-marker-alt mb-2">&nbsp;</i> Niceto Vega 4736, CABA</h6>
          <h6><i class="fas fa-mobile mb-2"> &nbsp;</i> +54 115051942</h6>
          <h6><i class="fas fa-envelope text mb-2">&nbsp;</i> happypaw@gmail.com</h6>
        </div>
<i class="fa-solid fa-mobile-screen-button"></i>
  </div>
  <div class="footer-links">
    <div class="col">
      <div class="col">
        <h6 class="text-center">Keep Connected</h6>
      </div>
      <div class="col mb-2">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
