<div class="footer ">
 <div class="footer-links">
           HappyPaw is a web platform developed by pet-visit

  </div>
   <div class="col d-flex justify-content-center">
        <div class="row ms-auto">
          <i class="fas fa-envelope mb-2">&nbsp; happypawn@gmail.com</i>
          <i class="fas fa-mobile mb-2"> &nbsp; +540115051942</i>
          <i class="fas fa-map-marker-alt mb-2">&nbsp; Av 9 de julio n 235</i>
        </div>
<i class="fa-solid fa-mobile-screen-button"></i>
  </div>
  <div class="footer-links">
    <div class="col">
      <div class="col">
         © 2022 Copyright:
      </div>
      <div class="col">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
