<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to 'See all profiles', profiles_path, class: "btn btn-dark" %>
<%= link_to 'Become a Sitter', new_profile_path, class: "btn btn-warning mx-3" %>
<%= link_to 'My Reservations', reservations_path, class: "btn btn-warning" %>
