.btn-flat {
  text-align: center;
  padding: 6px;
  font-size: 22px;
  border-width: 3px;
  border-radius: 12px;
  border-style: solid;
  border-color: #B7E3EC;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: 'Orelega One', cursive;
}

#query::placeholder {
  font-family: 'Orelega One', cursive;
  color: black;
}

.btn-flat:hover {
  background: #B7E3EC;
  color: white;
}

.button-input {
    text-align: center;
    padding: 6px;
    font-size: 22px;
    border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: #B7E3EC;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.button-input:focus {
  background-color: #B7E3EC;
  border-color: #B7E3EC;
  box-shadow: none;
}



.content-search {
  text-align: start;
}
