.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.button-input{
    text-align: center;
    padding: 16px;
    font-size: 18px;
    border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: #69ca98;
    background-color: #c2c2c2;
}
