.card-product {
  margin: 80px;
  overflow: hidden;
  height: 450px;
  background: grey;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  display: flex;
  //align-items: center;
  width: 550px;
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  width: 280px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.separar-card {
  display: flex;
  justify-content: space-between;
}

.posicion-flecha {
  position: fixed !important;
}

.card-profile {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  margin: 30px;
  border-radius: 12px;
  list-style: none;
  position: relative;
}

.card-profile img {
  height: 200px;
  width: 190px;
  object-fit: cover;
}

.card-profile h4 {
  font-size: 18px;
  margin: 0;
  }

.card-profile p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-profile .card-profile-info {
  display: flex;
}
.card-profile-info .share {
  position: absolute;
  right: 15px;
  top: 10px;
  color: rgb(116, 115, 115);
}

.card-profile-info .like {
  position: absolute;
  right: 40px;
  top: 10px;
  color: rgb(116, 115, 115);
}

.card-show {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  color: #000000;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

.card__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform .25s;
}

.card__content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #fff;
}

.card__title {
  color: #000000;
  line-height: 15px;
}
.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.card__description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5;
  font-style: italic;
}
.card:hover .card__content {
  transform: translateY(0);
}

.card:hover .card__description {
  opacity: 1;
  transition-delay: .25s;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.card-chat {
  position: relative;
  width: 250px;
  height: 250px;
  color: #A18A96;
  text-align: center;
  display: grid;
  place-content: center;
  padding: 10px;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
}

.card-chat::before,
.card-chat::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  transition: transform .5s.25s ease-in;
  z-index: -1;
}
.card-chat::before {
  top: 0;
  clip-path:
      polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}
.card-chat::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}
.card__content-chat {
  opacity: 0;
  transition: opacity .25s;
}
.card__title-chat {
  color: #6a515e;
  margin-bottom: 15PX;
}
.card__description-chat {
  font-size: 14px;
}
.card-chat:hover::before,
.card-chat:hover::after {
  transform: translateY(0);
  background-color: white;
}
.card-chat:hover .card__content-chat {
  opacity: 1;
  transition-delay: .75s;
}
