.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .input-messages {
    margin-bottom: 0 !important;
    textarea {
      align-self: stretch;
    }
  }

  .left-message {
    background-color: rgb(178, 255, 229);
  }

  .right-message {
    background-color: rgb(219, 237, 241);
    text-align: end;
  }

  .left-message, .right-message {
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
  }
}
