.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: Open Sans, sans-serif;
}

.map {
  height: 80vh;
  position: sticky;
  top: 0;
}
.info_window{
    width: 100px;
    margin-bottom: -5px;
}
