.navbar-lewagon {
  justify-content: space-between;
  background: #7A448D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.circleavatar {
border-radius: 30px;
}
